.add-to-cart-button {
  background-color: #5ece7b;
  width: 100%;
  border: none;
  color: white;
  padding: 16px 32px;
  cursor: pointer;
  margin: 20px 0;
  font-size: 16px;
  transition: all 0.1s;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    box-shadow: 0px 4px 35px rgba(#5ece7b, 40%);
    transform: scale(1.01);
  }

  &:active {
    box-shadow: 0px 4px 35px rgba(#5ece7b, 30%);
    transform: scale(0.95);
  }

  &:disabled {
    cursor: inherit;
    opacity: 0.5;

    &:hover {
      box-shadow: none;
      transform: none;
    }

    &:active {
      transform: none;
      box-shadow: none;
    }
  }

  &.inverted {
    background-color: #ffffff;
    color: #1d1f22;
    border: 1px solid #1d1f22;

    &:hover {
      box-shadow: 0px 4px 35px rgba(168, 172, 176, 0.22);
    }

    &:active {
      box-shadow: 0px 4px 35px rgba(168, 172, 176, 0.22);
      transform: scale(0.95);
    }

    &:disabled {
      cursor: initial;
      opacity: 0.5;

      &:hover {
        box-shadow: none;
        cursor: inherit;
        transform: none;
      }

      &:active {
        transform: none;
        box-shadow: none;
        cursor: inherit;
      }
    }
  }
}
