.dropdown {
  background: rgba(57, 55, 72, 0.22);
  height: 100vh;
  width: calc(100% + 20%);
  position: fixed;
  top: 70px;
  left: -20%;
  z-index: 1;

  .cart-dropdown-container {
    width: 325px;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    right: calc(10% - 20px);
    background: #ffffff;
    padding: 0 10px;
    max-height: 600px;
    overflow: scroll;

    h4 {
      span {
        &:nth-child(2) {
          font-weight: 400;
        }
      }
    }

    .total {
      display: flex;
      justify-content: space-between;
      font-family: Roboto;
      font-weight: 500;
      margin: 20px 0;
    }

    .dropdown-buttons {
      display: flex;
      justify-content: space-between;
      padding-bottom: 10px;

      a {
        width: 48%;

        &:hover {
          cursor: initial;
        }

        button {
          width: 100%;
        }
      }

      button {
        width: 48%;
        padding: 10px;
        font-size: 14px;
      }
    }

  }
}