.empty-cart {
  margin-right: 10px;
  flex: none;
  order: 3;
  flex-grow: 0;
  width: 20px;
  height: 20px;

  svg {
    cursor: pointer;
  }

  .total-items {
    background: #1d1f22;
    color: #ffffff;
    border-radius: 60px;
    height: 20px;
    width: 20px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    position: absolute;
    top: 21px;
    right: 8px;
    font-weight: 700;
    cursor: pointer;
  }

  .dropdown {
    background: rgba(57, 55, 72, 0.22);
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 80px;
    left: 0;
    z-index: 3;
  }

  .cart-dropdown-container {
    width: 325px;
    display: inline-flex;
    flex-direction: column;
    position: absolute;
    top: 80px;
    right: 0;
    background: #ffffff;
    padding: 0 10px;
    max-height: 70vh;
    overflow-y: scroll;
    overflow-x: hidden;
    gap: 32px;
    padding: 32px 16px;
    z-index: 4;

    h4 {
      span {
        &:nth-child(2) {
          font-weight: 400;
        }
      }
    }

    .total {
      display: flex;
      justify-content: space-between;
      font-family: Roboto;
      font-weight: 500;
      margin: 20px 0;
    }

    .dropdown-buttons {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-bottom: 10px;

      a {
        width: 48%;
        display: flex;
        align-items: center;
        height: 38px;

        button {
          width: 100%;
        }
      }

      button {
        width: 48%;
        padding: 10px;
        font-size: 14px;
      }
    }
  }
}
