.currency-selector-container {
  width: 100%;
  background: #ffffff;
  display: flex;
  justify-content: flex-end;

  .selected {
    display: flex;
    gap: 5px;
    justify-content: flex-end;
    align-items: center;
    cursor: pointer;
    margin-right: 15px;
    width: 38px;
    height: 29px;

    span:first-of-type {
      font-size: 18px;
      width: 100%;
      display: flex;
      font-weight: 500;
      line-height: 160%;
      display: flex;
      justify-content: flex-end;
    }

    .rotate {
      svg {
        transform: scaleY(-1);
      }
    }

    .arrow {
      align-self: center;
      width: 18px;
      svg {
        padding-top: 2px;
        transition: transform 0.1s;
      }
    }
  }

  .currency-dropdown {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: #ffffff;
    padding: 10px 0;
    position: absolute;
    width: 100%;
    top: 60px;
    right: 5%;
    width: 114px;
    overflow: hidden;
    filter: drop-shadow(0px 4px 35px rgba(168, 172, 176, 0.19));

    span {
      padding: 10px 25px;
      font-weight: 500;
      width: 100%;
      cursor: pointer;
      font-size: 18px;
      &:hover {
        background: #eeeeee;
      }
    }
  }
}
