.out-of-stock_hover {
  &:hover {
    .add-to-cart {
      display: none !important;
    }

    .product-cart-container {
      box-shadow: none !important;
      cursor: initial !important;
    }
  }
}

.container {
  position: relative;
  padding: 50px 0;
  display: flex;
  align-items: center;
  justify-content: center;

  .add-to-cart {
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 60px;
    right: 10%;
    bottom: 20%;
    display: none;

    button {
      width: 40px;
      height: 40px;
      border-radius: 60px;
      margin: 0;
      padding: 0;

      &:disabled {
        cursor: initial;
        opacity: 0.6;
      }

      svg {
        color: white;
      }
    }
  }

  &:hover {
    .add-to-cart {
      display: block;
    }

    .product-cart-container {
      box-shadow: 0px 4px 35px rgba(168, 172, 176, 0.19);
      cursor: pointer;
    }
  }
}

.out-of-stock {
  opacity: 0.5;
  background: #ffffff;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  overflow: hidden;
  z-index: 1;
}

.product-cart-container {
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  max-height: 400px;
  align-items: flex-start;
  justify-content: center;
  overflow: hidden;
  position: relative;

  img {
    height: 80%;
    width: 100%;
  }

  .text-container {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    gap: 5px;
    font-size: 18px;

    .name {
      font-weight: 300;
    }

    .price {
      font-weight: 500;
    }
  }
}
