.carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100%;

  .carousel-content {
    width: 100%;

    img {
      height: 100%;
      max-height: 200px;
      width: 100%;
      object-fit: contain;
    }
  }

  .hide {
    display: none;
  }

  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
    display: block;
    width: 100%;

    @keyframes fade {
      from {
        opacity: 0.3;
      }

      to {
        opacity: 1;
      }
    }
  }

  .carousel-buttons {
    position: absolute;
    bottom: 5%;
    right: 5%;
    display: flex;
    z-index: 1;

    .carousel-button {
      cursor: pointer;
      border: none;
      background: rgba(0, 0, 0, 0.73);
      color: #ffffff;
      margin: 3px;
      height: 24px;
      width: 24px;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: all 0.3;

      &:active {
        transform: scale(0.95);
      }
    }
  }
}
