.cart-page-container {
  padding-bottom: 80px;
  .empty-cart-page {
    text-align: center;
    width: 100%;
  }

  .order-container {
    width: 20%;
    display: flex;
    flex-direction: column;
    padding-top: 20px;

    .order-row {
      display: flex;

      span {
        display: flex;
        justify-content: flex-start;
        margin: 3px 0;
        width: 80px;

        &:nth-child(2) {
          font-weight: 700;
        }
      }
    }
  }
}
