.swatch {
  width: 36px;
  height: 36px;
  outline: 2px solid #ffffff;
}

.button-label {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 63px;
  height: 45px;
  border: 1px solid #1d1f22;
  user-select: none;
  z-index: 0;
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;

  &:hover {
    background: darken(#ffffff, 5%);
    color: darken(#1d1f22, 10%);
  }
}

.swatch-input:checked + .swatch {
  outline: 2px solid #5ece7b;
}

.radio-input:checked + .button-label {
  background: #1d1f22;
  color: #ffffff;
}

.hidden {
  display: none;
}
