.cart-page-container {
  width: 100%;

  h1 {
    text-transform: capitalize;
    font-weight: 400;
    padding: 20px 0;
    font-size: 42px;
  }

  .products-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 50px;
  }
}
