body {
  margin: auto;
  font-family: "Raleway", "Source Sans Pro", "Roboto", sans-serif;
  // font-family: "Source Sans Pro", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 90%;
  // overflow-x: hidden;
  color: #1d1f22;
  font-size: 16px;
  line-height: 160%;
}

p {
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  text-decoration: none;
  color: inherit;
  height: 100%;
}

h1 {
  padding: 30px 0;
}
